<!DOCTYPE html>
<html lang="en">
<body>
    <div class="page-container">
        <button type="button" class="back-arrow" aria-label="Back to previous page">←</button>
        <div class="middle-container">

            <div class="menu-container">
                <div class="world-page">
                    <img src="world_image.png" alt="Bottom Image" class="world-page-image">
                    <p class="world-page-titles">Character Name:</p>
                    <textarea class="world-info-field" id="character-name" type="text" aria-label="Character Name" placeholder="Enter Text"></textarea>
                    <p class="world-page-titles">Character Summary:</p>
                    <textarea class="world-info-field" id="character-summary" type="text" aria-label="Character Summary" placeholder="Enter Text"></textarea>

                </div>
            </div>
        </div>


    </div>
    <div class="navigation-bar">
        <!-- Navigation links here -->
    </div>
    <div class="world-settings-menu" style="display: none;">
        <ul>
            <li>Edit World</li>
            <li>Delete World</li>
            <li>View Details</li>
        </ul>
    </div>
</body>
</html>
