<!DOCTYPE html>
<html lang="en">

<body class="default-body">
    <div class="page-container">
        <div class="middle-container">
            <div class="menu-container">
                <div class="world-page">
                    <button type="button" class="back-arrow" aria-label="Back to previous page">←</button>
                    <img src="/static/images/world_image.png" alt="World Image" class="world-page-image">

                </div>

            </div>
        </div>


    </div>
    <div class="navigation-bar">
        <!-- Navigation links here -->
    </div>

</body>

</html>